version: '3.2'

# See https://hub.docker.com/_/nextcloud/

services:
  db:
    image: {{ nextcloud_db_image_name }}:{{ nextcloud_db_image_version }}
    volumes:
      - {{ nextcloud_database_volume }}:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=nextcloud_db
      - POSTGRES_USER=nextcloud
      - POSTGRES_PASSWORD=/run/secrets/postgres_password
    secrets:
      - postgres_password

  app:
    image: {{ nextcloud_image_name }}:{{ nextcloud_image_version }}
    container_name: {{ nextcloud_container_name }}
    ports:
      - {{ nextcloud_interface }}:{{ nextcloud_http_port }}:80
    volumes:
      - {{ nextcloud_www_volume }}:/var/www/html
{% if nextcloud_data_volume is defined and nextcloud_data_volume | length > 0 %}
      - {{ nextcloud_data_volume }}:/var/www/html/data
{% endif %}
{% if nextcloud_custom_apps_volume is defined and nextcloud_custom_apps_volume | length > 0 %}
      - {{ nextcloud_custom_apps_volume }}:/var/www/html/custom_apps
{% endif %}
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_DB=nextcloud_db
      - POSTGRES_USER=nextcloud
      - POSTGRES_PASSWORD=/run/secrets/postgres_password
    depends_on:
      - db
    secrets:
      - postgres_password

secrets:
  postgres_password:
    file: ./postgres_password.txt
