[Install]
WantedBy=multi-user.target

[Unit]
Description={{service_name}} fix missing indices service
Requisite={{service_name}}.service

[Service]
ExecStart=/usr/bin/docker exec -u {{www_data_uid}} {{docker_container_name}} \
              /var/www/html/occ db:add-missing-indices

TimeoutSec=120
