[Install]
WantedBy=multi-user.target

[Unit]
Description={{service_name}} service
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker rm -f {{docker_container_name}}

ExecStart=/usr/bin/docker run --name {{docker_container_name}} \
            --volume {{data_volume}}:/var/www/html \
{% if http_port != "" %}
            --publish {{interface}}:{{http_port}}:80 \
{% endif %}
            {{image_name}}:{{image_version}}

ExecStop=-/usr/bin/docker stop {{docker_container_name}}

ExecStopPost=-/usr/bin/docker rm -f {{docker_container_name}}
ExecStopPost=-/usr/bin/docker run --rm -u {{www_data_uid}} --name {{docker_container_name}} \
            --volume {{data_volume}}:/var/www/html \
            {{image_name}}:{{image_version}} \
            /bin/bash -c "/var/www/html/occ db:convert-filecache-bigint"

Restart=always
RestartSec=60s
TimeoutSec=3600
