[Unit]
Description={{nextcloud_background_service_name}} service
Requires={{nextcloud_service_name}}.service

[Service]
ExecStart={{docker_executable}} exec \
  -u {{ nextcloud_www_data_uid }} \
  {{ nextcloud_container_name }} \
  php -f /var/www/html/cron.php

Restart=no
TimeoutSec=3600
